.board {
    overflow: hidden;
    border: 10px solid white;
    outline: 10px solid black;
    position: relative;
    background-color: grey;
    width: 360px;
    height: 600px;
    margin-top: 3%;
    margin-left: 5%;
}